@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Welcome to HoarderAssistant5000!</h1>
    <p class="lead">HoarderAssistant5000 is your number one tool to keep track of your collections.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            In addition to tracking your collection HoarderAssistant5000 will also:
            <ul>
                <li>Log the buy price of the items in your collection.</li>
                <li>Let you update the current price of your items.</li>
                <li>Automatically track how much your items changed in value.</li>
            </ul>
        </p>
    </div>
</div>